:root {
  --click-button-bg: white;
  --click-button-text: black;
  --bg-color: white;
}

[data-theme="dark"] {
  --click-button-bg: purple;
  --click-button-text: white;
  --bg-color: black;
}

.clickbtn {
  background-color: var(--click-button-bg);
  color: var(--click-button-text);
}

.themeBody {
  height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

/* .modalContainer {
  height: 400px;
  width: 400px;
  border: 1px solid black;
  background-color: white;
}

.modalOverlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
} */
